.services {
    display: flex;
    justify-content: space-around;
}


.services .icon span {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
}

.services .icon:hover {
   background: #82ae46;
}

.services .icon {
    position: relative;
    height:100px;
    width:100px;
    border-radius: 50%;
    margin:0 auto;
}

.circled{
    display: inline-block;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 2px solid rgba(255, 255, 255, 0.19);
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
}

.media-body {
    width: 100%;
    text-align: center;
}

.media-body h3 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.media-body span {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-weight: 500;
}

.categories {
    width:100%;
    display: flex;
    padding: 0;

}

.category-wrap {
    position: relative;
    width: 100%;
    height:250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.mid-cat {
    height: 524px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {

    font-size: 3.5em;
    margin: 0;
    
    }

.text{
    position: absolute;
    bottom: 0;
}

.text h2 a {
    font-size: 18px;
    color: white;
}

.text-center {
    width: 100%;
    position: absolute;
    top: 0;
    text-align: center;
}

.text-center h2 {
    color: #82ae46;
    font-family: "Lora", Georgia, serif;
    font-style: italic;
    font-size: 24px;
}

.btn {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 30px;
}

.btn.btn-primary {
    background: #82ae46;
    border: 1px solid #82ae46;
    color: #fff;
}





.bg-color-1 {
    background: #e4b2d6;
}

.bg-color-2 {
    background: #dcc698;
}

.bg-color-3 {
    background: #a2d1e1;
}

.bg-color-4 {
    background: #dcd691;
}

.bg-1 {
}


