* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
}

ul.r {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

.goto-here {
    width: 100%;
    display: block;
    margin:0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.pl-3, .px-3 {
    padding-left: 1rem !important;
}

.pr-3, .px-3 {
    padding-right: 1rem !important;
}

.pb-1, .py-1 {
    padding-bottom: 0.25rem !important;
}

.pt-1, .py-1 {
    padding-top: 0.25rem !important;
}

.mr-2, .mx-2 {
    margin-right: 0.5rem !important;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.mb-2, .my-2 {
    margin-bottom: 0.5rem !important;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}

.mb-0, .my-0 {
    margin-bottom: 0 !important;
}

.bg-primary {
    background: #82ae46;
}

a {
    text-decoration: none;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    margin-bottom: 0.5rem;
    line-height: 1.5;
    font-weight: 400;
    color: #000000;
    font-family: "Poppins", Arial, sans-serif;
}

.section {
    padding: 6em 0;
    position: relative;
}

@media (min-width: 576px){
.container {
    max-width: 540px;
}}
@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
    }
@media (min-width: 992px){
    .container {
         max-width: 960px;
    }
    }
@media (min-width: 1200px) {
    .container {
         max-width: 1140px; 
    }}
    